body, p {
	font-size: 16px;
  font-weight: 400;
  font-family: 'Space Mono', monospace;
}

.column {
	background: white;
	padding-left: 2em;
	padding-right: 2em;
	border: 1px solid black;
	border-top: none;
	padding-bottom: 15rem;
	padding-top: 3rem;
}

.column:last-child {
	border-bottom: none;
}

.column.trang {
	padding: 0;
	border: none;
	padding-top: 6rem;
	padding-bottom: 7rem;
	border-bottom: 1px solid black;
}

.column.trang div{
	padding: 0;
	margin: 0;
	text-align: center;
}

.column.trang img {
	border: 1px solid black;
}

.column.trang h6, .column.trang p {
	margin: 0;
	margin-top: .5rem;
	-webkit-margin-after: 0em;
}

img {
	vertical-align: left;
	margin-bottom: .4rem;
}

small {
	font-size: .8rem;
}

h3 {
	font-size: 1.8rem;
	padding-bottom: 1rem;
}

h6 {
	color: #aaa;
	margin-top: 1.5rem;
	font-size: 1rem;
}

hr {
	margin-left: 15px;
	margin-top: 2rem;
}

a {
	color: initial;
	text-decoration: underline;
} 

a:hover {
	color: blue;
}

ul {
	list-style-type: circle;
}

ul i, .grey, small {
	color: #aaa;
}

button{
	background: black;
	border: 1px solid black;
	padding: .5rem 1rem .6rem 1rem;
}

button a {
	text-decoration: none;
	color: white;
}


button:hover a{
	color: white;
}

.img-inline{
	width: 300px;
}

@media (max-width: 991.98px) {
	.column {
		padding-left: 1em;
		padding-right: 1em;
	}

}
